nav {
  display: flex;
  gap: 2rem;
  padding: 1.5rem 2rem;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background-color: #0a192f;
}

#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  max-width: 56rem;
  margin: 0 auto;

  h1 {
    font-size: 2rem;
    color: #ccd6f6;
  }
}

#hero 

/* Tablet */

@media (min-width: 768px) {
  #hero h1 {
    font-size: 3.5rem;
  }
  #hero h2 {
    font-size: 2.5rem;
  }
}

/* Desktop */

@media (min-width: 1024px) {
  #hero h1 {
    font-size: 5rem;
  }
  #hero h2 {
    font-size: 3rem;
  }
}
